@model IEnumerable<Stock.Models.Trabajador>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreYApllido)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreYApllido)
            </td>
            <td>
                <a asp-action="GenerarJornada" asp-route-id="@item.TrabajadorId">G.J.</a> |
                <a asp-action="Edit" asp-route-id="@item.TrabajadorId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TrabajadorId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TrabajadorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
